<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DataManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <DataManagement.Properties.Settings>
            <setting name="DataStructureFileLocation" serializeAs="String">
                <value>PacijentDataStructure.xml</value>
            </setting>
            <setting name="LabelSize" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="TextFieldSize" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="DataFile" serializeAs="String">
                <value>Pacijenti.xml</value>
            </setting>
            <setting name="TemplateFileLocation" serializeAs="String">
                <value>Template.docx</value>
            </setting>
            <setting name="ExcelColumnWidth" serializeAs="String">
                <value>20</value>
            </setting>
        </DataManagement.Properties.Settings>
    </userSettings>
</configuration>
